.title{
    text-align: center;
    color: white;
     font-style: inherit;
     font-family:"lobster";
     font-size: 2rem;
     font-weight:50%px ;
  }
  #main{
    background: black;
  }figure {
    border: 4px green solid;
    padding: 4px;
    margin: auto;
    width:650px;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
  #img-div{
    
    text-align: center;
    color: white;
    font-style:italic;
    
  }
  .title2{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-style: oblique;
    font-family: arial;
    
  }
  .tribute-link{
   color:Lightgreen;
    font-size: 20px;
    text-align: center;
    
    
    
  }
  #tribute-link{
    color:Lightgreen;
    font-size: 20px;
    
  }
  .grid-columns{
      padding-top: 20px;
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px; 
   
  }
  .grid-columns2{
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px; 
  }
  .grid{
    border: 4px green inset;
    border-width: 5px ;
     border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    width: 93%; 
    grid-area: grid1 grid2 grid3;
  }
  .grid2{
     margin-top: 0px;
      font-weight: bold;
      font-size:3rem;
      color:yellow;
      font-family: "Times New Roman", Georgia, Serif;
      
  }
  .grid-image {
    width:100%;
    height:20rem ;
    
  }
  #image{
    width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }
  @media (max-width: 750px){
    .grid-columns{
     
     grid-template-columns:1fr;
    }
    
  }
  .iframe{
     width:30% ;
    height: 500px ;
    border:none;
  }
  h5{
    color:white;
    text-align: center;
  }
  #free{
   color:LightBlue; 
  }